@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

body {
}

/* .home-page {
	position: relative;
	background: url("../../public/assets/home/intro-mobile-gradient.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.home-page .intro {
	width: 100%;
	min-height: 612px;
} */
