@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #ff4c00;
	--gray-color: #454545;
	--white-color: #ffffff;
	--z-index-header: 1000;
	--z-index-navigation: 1001;
}

.layout {
	padding-top: 60px;
}
body {
}
