.home {
	background: url("/assets/home/intro-mobile-gradient.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top right;
}
.intro {
	/* min-height: 612px; */
}
.introHeader {
}
.introHeaderInner {
	max-width: 260px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	text-align: center;
}
.introTitle {
	font-size: 32px;
	font-weight: 600;
	line-height: 91%;
	color: var(--primary-color);
}
.introDescription {
	margin-top: 10px;
	margin-bottom: 16px;
	font-size: 14px;
	line-height: 150%;
}
.introSpecial {
	font-weight: 700;
	font-size: 16px;
	color: var(--gray-color);
	margin-bottom: 8px;
}
.introImage {
	margin: 0 auto;
	width: 70%;
}

.introImage picture {
	height: 100%;
	height: 100%;
	display: block;
}

.welcome {
}
.welcomeContent {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 20px 0;
}
.weolcomeInner {
	display: grid;
}
.welcomeContentTitle {
	font-size: 32px;
	background: linear-gradient(90deg, #ff1501 0%, #ffa001 98.39%);
	background-clip: text;
	font-weight: 600;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.welcomeContentLast {
	grid-column: 1 / -1;
}

.gallery {
	margin-top: 20px;
}
.galleryInner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	column-gap: 20px;
}
.galleryImageWrapper:last-of-type {
	grid-column: 1 / -1;
	border-radius: 0;
}
.galleryImageWrapper {
	border-radius: 10px;
	overflow: hidden;
}
.galleryImageWrapper picture {
	height: 100%;
	height: 100%;
}
.galleryImageWrapper img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.about {
	padding: 20px 0;
}

.offers {
	background: url("/assets/home/offers-mobile-gradient.png");
	/* background-repeat: no-repeat;
	background-size: contain;
	background-position: center 0px;
	background-size: 100% 953px; */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top right;
}

.offersTitle {
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--primary-color);

	margin-top: 60px;
}

.offerCards {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px 0;
}
.offerCardItem {
	padding: 12px 14px;

	border-radius: 10px;
	background: var(--white-color);
}
.offerCardHeader {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
}
.offerCardItemTitle {
	font-weight: 600;
	color: var(--black-color);
}
.offerCardIcon {
	height: 40px;
	width: 38px;
}
.offerCardIcon svg {
	width: 100%;
	height: 100%;
}
.whyMe li {
	border: 1px solid black;
}
