.home {
	background: url("/assets/home/intro-mobile-gradient.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.intro {
	/* min-height: 612px; */
}
.introHeader {
}
.introHeaderInner {
	max-width: 260px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	text-align: center;
}
.introTitle {
	font-size: 32px;
	font-weight: 600;
	line-height: 91%;
	color: var(--primary-color);
}
.introDescription {
	margin-top: 10px;
	margin-bottom: 16px;
	font-size: 14px;
	line-height: 150%;
}
.introSpecial {
	font-weight: 700;
	font-size: 16px;
	color: var(--gray-color);
	margin-bottom: 8px;
}
.introImage {
	margin: 0 auto;
	width: 70%;
}

.introImage picture {
	height: 100%;
	height: 100%;
	display: block;
}

.welcome {
}
.welcomeContent {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 20px 0;
}
.weolcomeInner {
	display: grid;
}
.welcomeContentTitle {
	font-size: 32px;
	background: linear-gradient(90deg, #ff1501 0%, #ffa001 98.39%);
	background-clip: text;
	font-weight: 600;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.welcomeContentLast {
	grid-column: 1 / -1;
}
