.home {
	background: url("/assets/home/intro-mobile-gradient.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top right;
}

.whyMe li {
	border: 1px solid black;
}
