.header {
	height: 60px;
	position: fixed;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	z-index: var(--z-index-header);
	background: var(--white-color);
}
.headerInner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
.logoContainer {
	height: 23px;
	width: 73px;
}
.logoContainer svg {
	width: 100%;
	height: 100%;
}

.hamburger {
	height: 32px;
	width: 32px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3px;
	padding: 6px 8px;
}
.hamburgerLine {
	width: 100%;
	height: 2px;
	background: var(--primary-color);
	display: block;
}
